/* @media screen and (max-width: 767px){
    .navbar {
        height: 20px
    }
    .img-responsive {
        height: 200px;
        width: 200px
    }

#section p {
    font-size: 12px;
    margin-top: 35px;
}
} 
pre{ 
  white-space: pre-wrap; 
  word-spacing: 2.3px;
    font-family: 'Roboto';
  padding: 43.5px 50px;
  background-color: none !important;
}
.btn-group-lg>.btn, .btn-lg {
  margin-bottom: 18px;
}
.container {
    position: relative;
    width: 100%;
    color: #ffffff;
  }
  .conatiner-contact-us{
    background-color: none !important;
  }
  .skill-container {
    background-color: #000000;
    width: 100%;
    color: #ffffff;
  }
  /* .card1{
    --bs-card-bg: none !important;
    border: none !important;
  } */
/* .affix {
    top: 120px;
    z-index: 9999 !important;
  } */
  /* div.col-sm-9 div {
    font-size: 28px;
  } */
  /* #section p{
    font-size: 22px
  }
  #section > h1{
    color:#A37554
  } */
   ul li {
     list-style-type: none
   }
 
/*   
   .navbar{
   }
   .navbar-nav{
    float: right;
   }
   .nav>li>a {
    padding: 17px 36px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    height: 60px;
} */
/* .btn-group-lg>.btn, .btn-lg {
    border-radius: 33px;
} */
/* div {
    /* // this css is purely to place the button squarely in the center of this demo, remove to place it wherever it might need to go in your actual code */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
  /* } */ */
/*   
  @keyframes TransitioningBackground {
    0% {
      background-position: 1% 0%;
    }
    50% {
      background-position: 99% 100%;
    }
    100% {
      background-position: 1% 0%;
    }
  } */

/* ul li a{
  font-size: 20px;
    color: dodgerblue;
    text-decoration: none;
}  */
