.animation {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.animContainer.visible {
  opacity: 1;
}


.animContainer{
  opacity:0;
  transform: translateY(2%);
}
#about{
  min-height: calc(100vh - 1rem);
}.card-text{
    letter-spacing: 0.4px;
    word-spacing: 1.2px;
    color: white;
}
.aboutCard{
  background-color: rgb(49,44,98, 0.5) !important;
}
.stage-cube-cont {
    width: 50%;
    height: 100%;
    // top: 0;
    padding-top: 18%;
    margin: 0 auto;
    right: 0;
  }
  
  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  
    .face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }
  
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }

  // Text hight on page load

  mark {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, yellow 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  
  // @-webkit-keyframes highlight {
  //   to {
  //     background-position: 0 0;
  //   }
  // }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  @media screen and (max-width: 576px){
    .cubespinner{
      margin-left: calc(50% - -27px);
      div{
        height: 100px;
        width: 100px;
      }
      .animContainer{
        transform: translateY(3%);

      }
    .face1 {
      transform: translateZ(50px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) rotateX(90deg)  translateZ(50px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(180deg) translateZ(50px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(50px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-270deg) rotateZ(90deg) translateZ(50px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(50px);
      color: #ec4d28;
    }
    }
    .card-text{
      font-size:14px;

    }
    .card-body{
      padding: 2px !important;
    }
    .aboutCard{
      margin-top: 2px !important;
    }
    .mobColLeft{
      min-width:100%;
      padding: 1px;
    }
    .mobColRight{
      display: none
    }
    #about{
      min-height: calc(93vh - 1rem);
    }
  }
  